<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id="profile">
          <h1>Colbert Tse</h1>
        </div> 
        <div class="col-md-8 col-md-offset-2" id="movie">
          <h1>Movies</h1>  
        </div>
        <div class="col-md-8 col-md-offset-2" id="new_movie">  
          <h2>New Movie</h2>    
          <form method="POST" action="/api/favoriteMovies">
            <label for="title">Movie Title</label>
            <input id="title" type="text" name="title" />
            <label for="genre">Genre</label>
            <input id="genre" type="text" name="genre" />
            <label for="director">Director</label>
            <input id="director" type="text" name="director" />
            <label for="year">Year</label>
            <input id="year" type="text" name="year" />
            <input type="submit" value="Create" />
          </form>                              
      </div>
    </div>
  </body>
</html>
