<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="jquery-1.11.3.js"></script>
    <script src="bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>the j.r. api</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2" id="sidebar">
          <li><a href="#" class="about">About</a></li>
          <li><a href="/api/shows">Current Shows</a></li>
        </div>
        <div class="col-md-6 col-md-offset-1 about-me">
        </div>
      </div>
    </div>
  </body>
</html>
