<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Danny Chan</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
 <nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> Danny Chan</a>
    </div>
    <div>
      <ul class="nav navbar-nav toRight">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="https://www.facebook.com/danny.chan.92">Profile</a></li> 
        <li><a href="#">Contact me</a></li> 
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12 subHeader"><img src="/images/ggbridge.jpg"> </div>
    </div>
      <div class="col-sm-3">
       <br>
        <img src="/images/profile.jpg" width="95px" height="100px">
         <h1>about me:</h1>
        <br>
        <p class="profile_target"></p>

      </div>

      <div class="col-sm-6 input"> 
      <br>
        <form id="inputForm"> <label for="name">name</label>
            <input id="name" placeholer= "name" type="text" name="name"  /> <br>
            <textarea id='message' placeholder="your message here:"></textarea><br>
            <input type="submit" value="Create" />
        </form>
        <hr />
        <p class='messages'> </p>
      </div>

      <div class="col-sm-3">
        <h1 class="big bold"><iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A1244275508%3Aplaylist%3A3V79VJ0zBzQSq6pVbUbyaY" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </h1>
        <p class="white"></p>

      

      </div>
    </div>
  </div>
      </div>
    </div>
  </body>
</html>
