body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

p {
	font-family: 'Oswald', sans-serif;
}


li {
	margin-bottom: 15px;
}