body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: limegreen;
  float: left;
}

.navbar-header{
	color: white;
}

.subHeader{
	min-height: 250px;
	text-align: center;
	min-width: fill;
	left: 25px;
}

#name{
	width: 250px;
}

#message{
	width: 290px;

}
.btn{
	display: inline-block;
}

.toRight{
	float: right; 
}

.white{
	color: white;
}

/*h1 {
  margin-top: 100px;
  text-align: center;
}
*/