body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}
img {
	max-height: 200px;
	border: 2px solid black;
}

.col-md-6 {
	text-align: center;
	font-size: 20px;
}

.post {
	display: block;
	width: 100%;
	margin: 5px auto;
	position: relative;
}